<%= bootstrap_nested_form_for @recipe, :html => { :multipart => true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explination">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :name, "Name", class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control input-lg', placeholder: "Recipe Name", tabindex: "1", hide_label: true %>
      <%= f.label :description, "Description", class: 'sr-only' %>
      <%= f.text_area :description, class: 'form-control input-lg', placeholder: "Description", rows: "10", tabindex: "2", hide_label: true %>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Prep time">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Cook time">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Servings">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <% if @recipe.image? %>
        <%= image_tag @recipe.image.url :medium %>
      <% else %>
        <%= image_tag "covers-1413241" %>
      <% end %>
      <%= f.file_field :image, hide_label: true %>
    </div>
  </div>
    <h2>Ingredients</h2>
    <table id="ingredients" style="width: 100%">
      <%= f.fields_for :recipe_ingredients, :wrapper => false do |ingredient_form| %>
        <tr class="fields">
          <%= ingredient_form.fields_for :ingredient do |ingredient| %>
            <td>
              <div class="input-group">
                <%= ingredient.text_field :name, placeholder: "ingredient", hide_label: true %>
                <span class="input-group-btn">
                  <%= ingredient_form.link_to_remove(raw("<span class=\"glyphicon glyphicon-remove\"></span>"), class: "btn btn-default") %>
                </span>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add_hmt "Add ingredient", :ingredient, :recipe_ingredients, :data => { :target => "#ingredients" }, class: "btn btn-primary" %></p>
    <br />
    <h2>Directions</h2>
    <%= f.text_area :directions, rows: "10", hide_label: true %>
    <%= f.submit %>
<% end %>
