<h1>Listing recipes</h1>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Create new recipe', new_recipe_path, :class => "btn btn-default" %>
  <%= link_to 'My recipes', recipes_path(current_user), :class => "btn btn-default" %>
</div>
<br /> 
<br /> 
<table>
  <thead>
    <tr>
      <th class="sorter-false"></th>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>
  </tfoot>
  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <% if logged_in? && (recipe.user_id == current_user.id || is_admin?) %>
          <%= link_to(raw("<span class=\"glyphicon glyphicon-edit\"></span>"), edit_recipe_path(recipe)) %>
          <%= link_to(raw("<span class=\"glyphicon glyphicon-remove\"></span>"), recipe_path(recipe),
                                method: :delete,
                                data: {confirm: 'Are you sure you want to delete?' }) %>
        <% end %>                       
      </td>
      <td><%= recipe.name %></td>
      <td><%= recipe.directions %></td>
      <td><%= recipe.user[:username] if recipe.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'tablesorter' %>
