<div class="row">
  <div class="col-md-4">
    <h2><%= @recipe.name %></h2>
    <%= link_to @recipe.user[:username], user_path(@recipe.user) if @recipe.user %>
    <%= @recipe.description %>
    <div class="row">
      <div class="col-md-4">
        Prep time
      </div>
      <div class="col-md-4">
        Cook time
      </div>
      <div class="col-md-4">
        Servings
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url :medium %>
    <% else %>
      <%= image_tag "covers-1413241" %>
    <% end %>
  </div>
</div>

  <p>
  <h2>Ingredients</h2>
    <% @recipe.ingredients.each do |ingreient| %>
      <p><%= ingreient.name %></p>
    <% end %>
  </p>
  <p>
  <h2>Directions</h2>
  <%= @recipe.directions %>
</p>
