<p>
  <strong>Name:</strong>
  <%= @recipe.name %><br />
  <%= link_to @recipe.user[:username], user_path(@recipe.user) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
  </p>
  <p>
    <strong>Image:</strong>
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url :medium %>
    <% else %>
        No Image
    <% end %>
  </p>
  
  <p>
    <strong>Ingredients</strong>
    <% @recipe.ingredients.each do |ingreient| %>
      <p><%= ingreient.name %></p>
    <% end %>
  </p>
  <p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>
