<div class="row">
  <div class="col-md-4">
    <h2><%= @recipe.name %></h2>
    <%= link_to @recipe.user[:username], user_path(@recipe.user) if @recipe.user %>
    <%= @recipe.description %>
    <div class="row">
      <div class="col-md-4">
        Prep time
      </div>
      <div class="col-md-4">
        Cook time
      </div>
      <div class="col-md-4">
        Servings
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url :medium %>
    <% else %>
      <%= image_tag "covers-1413241" %>
    <% end %>
  </div>
</div>

  <p>
  <h2>Ingredients</h2>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <p>
        <% #= "#{recipe_ingredients.quantity_multiplier} #{recipe_ingredients.quantity.abbreviation} #{recipe_ingredients.ingreient.name}" %>
        <% #binding.pry %>
        <% if Quantity.find(recipe_ingredient.quantity_id).quantity_type == 0 %>
          <%= recipe_ingredient.quantity_multiplier %>
          <%= Quantity.find(recipe_ingredient.quantity_id).abbreviation unless Quantity.find(recipe_ingredient.quantity_id).name == "Count" %>
          <%= pluralize_no_digits((recipe_ingredient.quantity_multiplier * Quantity.find(recipe_ingredient.quantity_id).multiplier), Ingredient.find(recipe_ingredient.ingredient_id).name) %>
        <% else %>
          <%= pluralize recipe_ingredient.quantity_multiplier, Quantity.find(recipe_ingredient.quantity_id).abbreviation %>
          <%= Ingredient.find(recipe_ingredient.ingredient_id).name %>
        <% end %>
      </p>
    <% end %>
  </p>
  <p>
  <h2>Directions</h2>
  <%= @recipe.directions %>
</p>
