<%= bootstrap_nested_form_for @user, url: user_path(@user), method: "patch", :html => { :multipart => true } do |f| %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Update Profile</h1>
    <% if @user.errors.any? %>
      <div id="error_explination">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this recipe from being saved:
      </h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-1 col-md-push-4">
        <%= f.submit 'Update Profile' %>
        <h2><%= f.text_field :username, label: "Username" %></h2>
        <%= f.text_field :name, label: "Name" %><br />
        <%= f.text_field :email, label: "Email" %><br /><br />
        <%= f.password_field :password, label: "Password" %>
        <%= f.password_field :password_confirmation, label: "Confirm Password" %>
      </div>
      <div class="col-md-4 col-md-pull-7">
      <% if @user.image? %>
        <%= image_tag @user.image.url :medium %>
      <% else %>
        <%= image_tag "PICA-300x300.jpg", size: "300x300" %>
      <% end %>
        <br />
        <%= f.file_field :image, label: "Image" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= f.text_area :bio, label: "Bio", rows: "10" %>
    <table id="auth_groups" style="width: 100%">
      <%= f.fields_for :auth_memberships, :wrapper => false do |auth_groups_form| %>
        <tr class="fields">
          <%= auth_groups_form.fields_for :auth_group do |auth_group| %>
            <td>
              <% #= auth_group.text_field :name, label: "Auth group" %>
            </td>
            <td><%= auth_groups_form.collection_select(:auth_group_id, AuthGroup.all, :id, :name, {}, { :multiple => false } ) %></td>
          <% end %>
          <td><%= auth_groups_form.link_to_remove "Remove" %></td>
        </tr>
      <% end %>
    </table>
    <% # binding.pry %>
    <p><%= f.link_to_add "Add auth group", :auth_memberships, :data => { :target => "#auth_groups" } %></p>
    <p>
    <% #f.link_to_add_hmt "Add auth group", :auth_groups, :auth_memberships, :data => { :target => "#auth_groups" } %>
    </p>
  </div>
</div>
<% end %>
