<!DOCTYPE html>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<html>
  <head>
    <title>M4</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% #= javascript_include_tag "autocomplete-rails.js" %>
<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
<%= render 'nav' %>
    <div id="page-content">
      <div class="container">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= raw(message) %></div>
        <% end %>
<%= yield %>
      </div>
    </div>
<%= render 'footer' %>
  </body>
</html>
